.about {
    margin-top: 300px;
}

.about-title {
    color: var(--blak-white-blak, #000);

/* body medium */
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 110%;
border-bottom: 1px solid rgba(0, 0, 0, 0.30);
padding-bottom: 24px;
margin-bottom: 60px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-text {
    color: var(--blak-white-blak, #000);

/* H3 */
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 35.2px */
letter-spacing: -0.224px;
text-transform: uppercase;
max-width: 598px;
width: 100%;
}