.contact {
    position: relative;
    @media screen and (max-width: 480px) {
        margin-top: 0px;
    }
}

.contact-platform {
    margin-top: 150px;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 810px;
}

.contact-glass {
    background: rgba(0, 0, 0, 0.44);
    backdrop-filter: blur(5.5px);
    padding: 60px 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 480px) {
        padding: 60px 18px;   
    }
}

.contact-title {
    color: var(--blak-white-white, #FFF);
font-family: Outfit;
font-size: 62px;
font-style: normal;
font-weight: 500;
line-height: 110%;
text-transform: uppercase;
max-width: 580px;
width: 100%;
text-align: center;
@media screen and (max-width: 480px) {
    font-size: 40px;       
}
}

.contact-text {
    color: var(--blak-white-white, #FFF);
text-align: center;

/* body medium */
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 22px */
max-width: 580px;
width: 100%;
margin: 28px 0 88px 0;
}

.contact-button {
    color: var(--blak-white-blak, #000);

/* buttons */
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
border-radius: 12px;
background: var(--blak-white-white, #FFF);
padding: 16px 60px;
cursor: pointer;
transition: all 400ms ease-in-out;
border: none;
@media screen and (max-width: 480px) {
    width: 100%;    
}   
}

.contact-button:hover {
    background: #FFE20E;
}
