.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 100%;
    padding: 16px 0px;
    // border: 1px solid var(--bw-white, #FFF);
    // border-radius: 1000px;
    background: var(--Neutral-black, #000);
    // box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(5.5px);
    border: none;
    @media screen and (max-width: 480px) {
        padding: 16px 0 16px 0;
        border: none;
    }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); // напівпрозоре чорне
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 998; // трохи менше ніж бургер-меню
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}


.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header-logo-mobile {
  display: none;
  @media screen and (max-width: 480px) {
        display: block;
  }
}

.header-logo {
  // margin-right: 40px;
  @media screen and (max-width: 480px) {
    display: none;     
  }
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(8px, 2vw, 32px);
}

// .header-dropdown {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }

.margin {
  @media screen and (max-width: 480px) {
    margin-bottom: 20px;  
  }
}

// .dropdown-menu {
//   position: absolute;
//   top: 120%;
//   left: 0;
//   border-radius: 14px;
//   background: #FFF;
//   box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 20px 0 #FFF;
//   padding: 20px;
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   min-width: 200px;
//   z-index: 10;

//   opacity: 0;
//   transform: translateY(8px);
//   visibility: hidden;
//   pointer-events: none;

//   /* анімація */
//   transition: opacity .22s ease, transform .22s ease, visibility 0s linear .22s;
//   @media screen and (max-width: 480px) {
//     padding: 0;  
//   }
// }

// @media (max-width: 480px) {
//   .dropdown-menu {
//     position: static; /* всередині бургер-меню */
//     box-shadow: none;
//     // padding-top: 32px;
//     opacity: 0;
//     max-height: 0;
//     overflow: hidden;
//     visibility: hidden;
//     transform: none;
//     transition: opacity .3s ease, max-height .3s ease;
//     background: none;
//     // padding: 32px 0 0 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }

//   .header-dropdown.active .dropdown-menu {
//     opacity: 1;
//     max-height: 300px;
//     visibility: visible;
//     // padding-top: 8px;
//     padding: unset;
//     gap: 24px;
//   }
// }



// .dropdown-menu a {
//   color: #8786A4;
//   text-decoration: none;
//   transition: color 300ms ease;

//   font-family: 'Onest';
// }

// .dropdown-menu a:hover {
//   color: #030059;
// }

// /* Активне меню */
// .header-dropdown.active .dropdown-menu {
//   opacity: 1;
//   transform: translateY(0);
//   visibility: visible;
//   pointer-events: auto;
//   transition: opacity .22s ease, transform .22s ease;
// }

// /* Плавне обертання стрілки */
// .arrow {
//   margin-left: 6px;
//   transition: transform 500ms ease;
// }

// .header-dropdown.active .arrow {
//   transform: rotate(-180deg);
// }

.header-link {
    position: relative;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.80);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    // text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    @media screen and (max-width: 480px) {
      font-size: 28px;
    }
}

.header-link:hover {
    color: #FFE20E;
    // font-weight: 600;
    // letter-spacing: 0;
}

// .header-link svg path {
//   transition: all 400ms ease-in-out;
// }

// .header-link:hover svg path {
//   fill: #030059;
// }

// .header-link-active {
//   color: #4CA526;
// }

// .header-buttons {
//   display: flex;
//   align-items: center;
//   gap: 25px;
// }

// .header-button-contact {
//   text-decoration: none;
//   color: #8786A4;
//   font-family: 'Onest';
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 24px; /* 150% */
//   transition: color 400ms ease;
//   @media screen and (max-width: 480px) {
//     display: none;     
//   }
// }

// .header-mobile-contact {
//   display: none;
//   @media screen and (max-width: 480px) {
//     display: block;   
//     color: #8786A4;
//     font-family: 'Onest';
//     font-size: 28px;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 24px; /* 150% */  
//   }
// }

// .header-button-contact:hover {
//   color: #030059;
// }

.header-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--blak-white-white, #FFF);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    // background: none;
    cursor: pointer;
    padding: 12px 20px;
    z-index: 1;

    // border-radius: 100px;
    // border-radius: 8px;
    // border: 1px solid #fff;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: transparent;

    transition: ease-in-out 300ms all;
    // @media screen and (max-width: 480px) {
    //   display: none;   
    // }
}

// .header-button span {
//   display: flex;
//   justify-content: center;
//   align-items: center;  
//   border-radius: 100px;
//   background: #A2FBD7;
//   padding: 10px;
// }
  
.header-button:hover {
    // background: var(--primary-200, #4C4648);
    // background: #103FD3;
    color: #ffe20e;
}

// .header-button svg path {
//   transition: ease-in-out 300ms all;
// }

// .header-button:hover svg path {
//     stroke: #fff;
// }





// .language-dropdown {
//   display: none;
//   position: absolute;
//   top: 110%;
//   right: 0;
//   background-color: #fff;
//   border-radius: 6px;
//   box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
//   list-style: none;
//   margin: 0;
//   padding: 6px 0;
//   min-width: 70px;
//   z-index: 10;
// }

// .language-dropdown li {
//   text-align: center;
// }

// .language-dropdown li a {
//   display: block;
//   text-decoration: none;
//   color: #8786A4;
//   padding: 6px 0;
//   font-family: 'Onest', sans-serif;
//   font-size: 14px;
//   transition: background 0.2s ease;
// }

// .language-dropdown li a:hover {
//   background-color: #f0f0f0;
//   color: #2C5EEB;
// }

// .language-selector.active .language-dropdown {
//   display: block;
// }


// !BURGER

body.menu-open {
    overflow: hidden;
  }

.burger {
    display: none;
  }
  
  .burger-close {
    display: none;
  }

  @media screen and (max-width: 480px) {
    .header-inner {
      position: relative;
      justify-content: space-between;
      
    }
  
    .burger {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
      background: none;
      // width: 40px;
      // height: 40px;
      // padding: 8px;
      cursor: pointer;  
    }
  
    .burger-close {
      display: flex;
      position: absolute;
      top: 26px;
      right: 24px;
      background: none;
      width: 38px;
      height: 38px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1002;
    }
  
    .header-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: unset;
      gap: 60px;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: 510px;
      // border-radius: 26px;
      border-top: 1px solid var(--neutral-devider, #212121);
      background: var(--neutral-black, #000);

      /* Card */
      backdrop-filter: blur(12.5px);
      z-index: 1000;
      padding-top: 50px;
      transition: all 0.3s ease;
    }
  
    .open {
      display: flex !important;
    }
  
    .header-link {
      // margin: 0 0 32px 0;
      text-decoration: none;
      color: #C9C9C9;
    }
  
    .header-buttons {
      display: none;
    }
  }
  
