.hero {
    padding-top: 230px;
    position: relative;
    @media screen and (max-width: 480px) {
        padding-top: 400px;   
    }
}

.platform { 
    background: #000;
    height: 810px;
}

.platform .container {
    z-index: 3;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-height: 810px;
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.platform-bg {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 0;
    // width: 76%;
    max-height: 810px;
}

.platform::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    width: 30%;
    /* типове "як на херо": сильне зліва + легке загальне */
    background:
      linear-gradient(90deg, rgba(0,0,0,.65) 0%, rgba(0,0,0,.35) 45%, rgba(0,0,0,0) 70%),
      linear-gradient(0deg, rgba(0,0,0,.15) 0%, rgba(0,0,0,.15) 100%);
    @media screen and (max-width: 480px) {
          width: 100%;
    }
  }

.hero-bg-mobile {
    display: none;
    @media screen and (max-width: 480px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;   
    }
}

.hero-title {
    color: var(--blak-white-white, #FFF);

/* H1 */
font-family: Outfit;
font-size: 90px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 99px */
text-transform: uppercase;
@media screen and (max-width: 480px) {
    font-size: 40px;       
}
}

.hero-texts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 72px;
}

.hero-text {
    color: var(--blak-white-white, #FFF);

/* body medium */
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 22px */
max-width: 477px;
width: 100%;
}

.uppercase {
    text-transform: uppercase;
    max-width: 370px;
    @media screen and (max-width: 480px) {
        display: none;   
    }
}

.hero-button {
    color: var(--blak-white-blak, #000);

/* buttons */
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
border-radius: 12px;
background: var(--blak-white-white, #FFF);
padding: 16px 60px;
cursor: pointer;
transition: all 400ms ease-in-out;
border: none;

@media screen and (max-width: 480px) {
    width: 100%;    
}   
}

.hero-button:hover {
    background: #FFE20E;
}
