.policy {
    margin-top: 150px;
}

.policy-title {
    color: var(--000000, #000);
font-family: Urbanist;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 110%;
}

.policy-text {
    color: var(--neutral-900, #171717);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
max-width: 868px;
width: 100%;
margin-top: 24px;
}

.policy-inner {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    max-width: 868px;
    width: 100%;
}

.policy-item-title {
    color: var(--neutral-900, #171717);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 26.4px */
margin-bottom: 24px;
}

.policy-item-text {
    color: var(--neutral-800, #444);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 26px */
}