.service {
    margin-top: 150px;
    position: relative;
    padding: 140px 0;
    background: #000;
    overflow: hidden;
    @media screen and (max-width: 480px) {
        margin-top: 80px;   
        padding: 0 0 80px 0;
    }
}

.service .video {
    left: 900px;
    top: 140px;
    max-width: 1700px;
    @media screen and (max-width: 480px) {
        position: relative;  
        left: 0;
        top: 0;
        height: 60vh; 
    }
}

.service-title {
    position: relative;
    color: var(--blak-white-white, #FFF);

/* H2 */
font-family: Outfit;
font-size: 62px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 68.2px */
text-transform: uppercase;
margin-bottom: 60px;
z-index: 3;

@media screen and (max-width: 480px) {
    font-size: 40px;     
    margin-top: 40px;  
}
}

.service-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 48%;
    z-index: 3;
    @media screen and (max-width: 480px) {
        width: 100%;   
    }
}

.service-item {
    padding-bottom: 24px;
    border-bottom: 1px solid #212121;
}

.service-item-title {
    color: var(--blak-white-white, #FFF);
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 110%;
text-transform: uppercase;
margin-bottom: 12px;
}

.service-item-text {
    color: var(--blak-white-white, #FFF);

/* caption1 */
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 17.6px */
opacity: .6;
}


