@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

body.noscroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.video {
  position: absolute;
  inset: 0;
  top: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 1900px;
  z-index: -1;
}
@media screen and (max-width: 480px) {
  .video {
    height: 90vh;
  }
}

.video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.dark {
  color: #000;
}

.yellow {
  color: #FFE20E;
}

.green {
  color: #A2FBD7;
}

.orange {
  color: #C70C01;
}

.gradient {
  background: var(--primary-gradiend, linear-gradient(136deg, #00C18B 10.01%, #08AF9F 27.11%, #3826E9 76.49%, #4500FD 89.03%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.fontweight {
  font-weight: 700;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px; /* раніше могло бути 1440px — зменшено для кращої адаптивності */
  margin: 0 auto;
  padding-left: clamp(20px, 5vw, 48px);
  padding-right: clamp(20px, 5vw, 48px);
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0px 16px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  padding: 16px 0px;
  background: var(--Neutral-black, #000);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
  border: none;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 16px 0 16px 0;
    border: none;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 998;
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .header-logo-mobile {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .header-logo {
    display: none;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: clamp(8px, 2vw, 32px);
}

@media screen and (max-width: 480px) {
  .margin {
    margin-bottom: 20px;
  }
}

.header-link {
  position: relative;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-decoration: none;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
@media screen and (max-width: 480px) {
  .header-link {
    font-size: 28px;
  }
}

.header-link:hover {
  color: #FFE20E;
}

.header-link-active {
  color: #FFE20E;
}

.header-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--blak-white-white, #FFF);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  cursor: pointer;
  padding: 12px 20px;
  z-index: 1;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  transition: ease-in-out 300ms all;
}

.header-button:hover {
  color: #ffe20e;
}

body.menu-open {
  overflow: hidden;
}

.burger {
  display: none;
}

.burger-close {
  display: none;
}

@media screen and (max-width: 480px) {
  .header-inner {
    position: relative;
    justify-content: space-between;
  }
  .burger {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    background: none;
    cursor: pointer;
  }
  .burger-close {
    display: flex;
    position: absolute;
    top: 26px;
    right: 24px;
    background: none;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1002;
  }
  .header-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    gap: 60px;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 510px;
    border-top: 1px solid var(--neutral-devider, #212121);
    background: var(--neutral-black, #000);
    /* Card */
    -webkit-backdrop-filter: blur(12.5px);
            backdrop-filter: blur(12.5px);
    z-index: 1000;
    padding-top: 50px;
    transition: all 0.3s ease;
  }
  .open {
    display: flex !important;
  }
  .header-link {
    text-decoration: none;
    color: #C9C9C9;
  }
  .header-buttons {
    display: none;
  }
}
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Вікно */
.popup {
  border: none;
  background: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 98%;
  position: relative;
  -webkit-animation: fadeIn 0.3s ease;
          animation: fadeIn 0.3s ease;
}
@media screen and (max-width: 480px) {
  .popup {
    padding: 16px;
    width: 97%;
  }
}

.popup-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

@media screen and (max-width: 480px) {
  .popup-img-big {
    display: none;
  }
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-context h3 {
  color: var(--blak-white-blak, #000);
  text-align: center;
  /* H2 */
  font-family: Outfit;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 68.2px */
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (max-width: 480px) {
  .popup-context h3 {
    font-size: 40px;
  }
}

.popup-context p {
  color: var(--blak-white-blak, #000);
  text-align: center;
  /* body medium */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  max-width: 660px;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .popup-context p {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .pop-text br {
    display: none;
  }
}

/* Форма */
.popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 0 12px 0;
}
@media screen and (max-width: 480px) {
  .popup-form {
    width: 100%;
    gap: 10px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field label {
  color: var(--neutral-700, #444);
  /* fontone */
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-bottom: 4px;
}

.popup-form input {
  border-radius: 8px;
  border: 1px solid var(--neutral-400, #C9C9C9);
  background: var(--blak-white-white, #FFF);
  /* Drop Shadow */
  padding: 14px 12px;
  color: var(--neutral-400, #C9C9C9);
  /* caption2 */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  outline: none;
  width: 100%;
  resize: none;
  transition: all 300ms ease-in-out;
  opacity: 0.6;
}
@media screen and (max-width: 480px) {
  .popup-form input {
    width: 100% !important;
  }
}

.popup-form input:focus {
  color: #000;
  border: 1px solid #9E9E9E;
  background: #FFF;
  opacity: 1;
  /* green */
}

.popup-form textarea {
  border-radius: 8px;
  border: 1px solid var(--neutral-400, #C9C9C9);
  background: var(--blak-white-white, #FFF);
  /* Drop Shadow */
  padding: 14px 12px;
  color: var(--neutral-400, #C9C9C9);
  /* caption2 */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  outline: none;
  width: 100%;
  resize: none;
  transition: all 300ms ease-in-out;
  opacity: 0.6;
}
@media screen and (max-width: 480px) {
  .popup-form textarea {
    height: 57.2px;
    padding: 8px 24px;
  }
}

.popup-form textarea:focus {
  color: #000;
  border: 1px solid #9E9E9E;
  background: #FFF;
  opacity: 1;
}

.popup-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .popup-wrapper {
    width: 100%;
  }
}

/* Кнопка */
.popup-btn {
  margin-top: 12px;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--blak-white-white, #FFF);
  /* buttons */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  cursor: pointer;
  padding: 12px 49px;
  z-index: 1;
  border-radius: 12px;
  border: none;
  background: #000;
  transition: ease-in-out 600ms all;
}
@media screen and (max-width: 480px) {
  .popup-btn {
    margin-top: 12px;
    width: 100%;
    justify-content: center;
  }
}

.popup-btn:hover {
  color: #000;
  background: #FFE20E;
}

/* Закрити */
.close-popup {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
  color: #5C5A5B;
}

/* Показати */
.popup-overlay.active {
  display: flex;
}

@-webkit-keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.message-popup-title {
  color: var(--primary-300, #3C3232);
  text-align: center;
  font-family: "Open Sans";
  font-size: clamp(30px, 2vw, 36px);
  font-style: normal;
  font-weight: 700;
  line-height: 1; /* 36px */
  text-transform: uppercase;
  margin-bottom: 48px;
  z-index: 10;
}

.message-popup-text {
  color: var(--primary-200, #4C4648);
  text-align: center;
  /* h2-medium */
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 33px */
  z-index: 10;
}

.message-bg {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
}

/* контейнер */
.chk {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font: 500 14px/1.5 "Inter", system-ui, -apple-system, Segoe UI, Arial, sans-serif;
  color: #2E3554;
}

/* ховаємо нативний чекбокс, але лишаємо його фокусним для доступності */
.chk__input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* візуальна коробка */
.chk__box {
  width: 18px;
  height: 18px;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1.5px #96A5FF;
  background: #fff;
  position: relative;
  transition: box-shadow 0.18s ease, background 0.18s ease, transform 0.12s ease;
}
@media screen and (max-width: 480px) {
  .chk__box {
    width: 20px;
    height: 20px;
  }
}

/* галочка (псевдоелемент) */
.chk__box::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 10px;
  height: 6px;
  border: 2px solid #fff;
  border-top: 0; /* прибираємо верхню лінію */
  border-right: 0; /* прибираємо праву лінію */
  transform: rotate(-45deg) scale(0.6);
  opacity: 0;
  transition: transform 0.18s ease, opacity 0.18s ease;
}
@media screen and (max-width: 480px) {
  .chk__box::after {
    top: -2px;
  }
}

.chk__input:checked + .chk__box::after {
  opacity: 1;
  transform: rotate(-45deg) scale(1);
}

/* стан :checked — синя заливка та видима галочка */
.chk__input:checked + .chk__box {
  background: #5F86FF; /* базовий синій */
  box-shadow: none;
}

/* hover/active */
.chk:hover .chk__box {
  transform: translateY(-0.5px);
}

.chk:active .chk__box {
  transform: translateY(0);
}

/* клавіатурний фокус */
.chk__input:focus-visible + .chk__box {
  outline: 2px solid #7DA2FF;
  outline-offset: 2px;
}

/* disabled */
.chk__input:disabled + .chk__box {
  background: #f0f2f7;
  box-shadow: inset 0 0 0 1.5px #cfd5e6;
}

.chk__input:disabled ~ .chk__label {
  color: #9aa3bd;
  cursor: not-allowed;
}

@media screen and (max-width: 480px) {
  .chk__label {
    color: #22206D;
    font-family: "Onest";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    max-width: 275px;
    width: 100%;
  }
}

.hero {
  padding-top: 230px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .hero {
    padding-top: 400px;
  }
}

.platform {
  background: #000;
  height: 810px;
}

.platform .container {
  z-index: 3;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  max-height: 810px;
}
@media screen and (max-width: 480px) {
  .hero-bg {
    display: none;
  }
}

.platform-bg {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 0;
  max-height: 810px;
}

.platform::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  width: 30%;
  /* типове "як на херо": сильне зліва + легке загальне */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.35) 45%, rgba(0, 0, 0, 0) 70%), linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
}
@media screen and (max-width: 480px) {
  .platform::after {
    width: 100%;
  }
}

.hero-bg-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .hero-bg-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

.hero-title {
  color: var(--blak-white-white, #FFF);
  /* H1 */
  font-family: Outfit;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 99px */
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 40px;
  }
}

.hero-texts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 72px;
}

.hero-text {
  color: var(--blak-white-white, #FFF);
  /* body medium */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  max-width: 477px;
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
  max-width: 370px;
}
@media screen and (max-width: 480px) {
  .uppercase {
    display: none;
  }
}

.hero-button {
  color: var(--blak-white-blak, #000);
  /* buttons */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  border-radius: 12px;
  background: var(--blak-white-white, #FFF);
  padding: 16px 60px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  border: none;
}
@media screen and (max-width: 480px) {
  .hero-button {
    width: 100%;
  }
}

.hero-button:hover {
  background: #FFE20E;
}

.about {
  padding-top: 150px;
}
@media screen and (max-width: 480px) {
  .about {
    margin-top: 200px;
  }
}

.about-title {
  color: var(--blak-white-blak, #000);
  /* body medium */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 24px;
  margin-bottom: 60px;
}
@media screen and (max-width: 480px) {
  .about-title {
    margin-bottom: 40px;
  }
}

.about-content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .about-content {
    flex-direction: column;
    gap: 20px;
  }
}

.about-text {
  color: var(--blak-white-blak, #000);
  /* H3 */
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 35.2px */
  letter-spacing: -0.224px;
  text-transform: uppercase;
  max-width: 598px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .about-text {
    font-size: 20px;
  }
}

.service {
  margin-top: 150px;
  position: relative;
  padding: 140px 0;
  background: #000;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .service {
    margin-top: 80px;
    padding: 0 0 80px 0;
  }
}

.service-platform {
  margin-top: 0px;
}

.service-platform .video {
  left: 780px !important;
  top: 50px !important;
}
@media screen and (max-width: 480px) {
  .service-platform .video {
    position: relative;
    left: 0 !important;
    top: 0 !important;
    height: 50vh !important;
  }
}

.service-platform .video::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 15%;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
}
@media screen and (max-width: 480px) {
  .service-platform .video::after {
    display: none;
  }
}

.service .video {
  left: 900px;
  top: 140px;
  max-width: 1700px;
}
@media screen and (max-width: 480px) {
  .service .video {
    position: relative;
    left: 0;
    top: 0;
    height: 60vh;
  }
}

.service-title {
  position: relative;
  color: var(--blak-white-white, #FFF);
  /* H2 */
  font-family: Outfit;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 68.2px */
  text-transform: uppercase;
  margin-bottom: 60px;
  z-index: 3;
  max-width: 646px;
}
@media screen and (max-width: 480px) {
  .service-title {
    font-size: 40px;
    margin-top: 40px;
  }
}

.service-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 48%;
  z-index: 3;
}
@media screen and (max-width: 480px) {
  .service-list {
    width: 100%;
  }
}

.service-item {
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
}

.service-item-title {
  color: var(--blak-white-white, #FFF);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.service-item-text {
  color: var(--blak-white-white, #FFF);
  /* caption1 */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
  opacity: 0.6;
}

.why {
  margin-top: 150px;
  padding: 140px 0;
  background: #000;
}

.why-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .why-header {
    flex-direction: column-reverse;
    gap: 24px;
  }
}

.why-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.why-title {
  color: var(--blak-white-white, #FFF);
  /* H2 */
  font-family: Outfit;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 68.2px */
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .why-title {
    font-size: 40px;
  }
}

.why-text {
  color: var(--blak-white-white, #FFF);
  /* body medium */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  max-width: 640px;
}

.why-list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
@media screen and (max-width: 480px) {
  .why-list {
    flex-direction: column;
    gap: 20px;
  }
}

.why-item {
  width: 24%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: var(--neutral-900, #212121);
}
@media screen and (max-width: 480px) {
  .why-item {
    width: 100%;
  }
}

.why-platform {
  width: 32%;
}
@media screen and (max-width: 480px) {
  .why-platform {
    width: 100%;
  }
}

.why-item-title {
  color: var(--primary-yellow, #FFE20E);
  /* H4 */
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 30.8px */
  text-transform: uppercase;
  margin: 80px 0 24px 0;
}

.why-item-text {
  color: rgba(255, 255, 255, 0.6);
  /* body regular */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
}

.why-icon {
  position: relative;
  width: 81px;
  height: 70px;
  /* базовий (сірий) стан */
  background: #bfbfbf;
}

.first {
  -webkit-mask: url("/src/images/why-icon1.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("/src/images/why-icon1.svg") no-repeat center;
          mask: url("/src/images/why-icon1.svg") no-repeat center;
  mask-size: contain;
}

.second {
  -webkit-mask: url("/src/images/why-icon2.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("/src/images/why-icon2.svg") no-repeat center;
          mask: url("/src/images/why-icon2.svg") no-repeat center;
  mask-size: contain;
}

.third {
  -webkit-mask: url("/src/images/why-icon3.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("/src/images/why-icon3.svg") no-repeat center;
          mask: url("/src/images/why-icon3.svg") no-repeat center;
  mask-size: contain;
}

.fourth {
  -webkit-mask: url("/src/images/why-icon4.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("/src/images/why-icon4.svg") no-repeat center;
          mask: url("/src/images/why-icon4.svg") no-repeat center;
  mask-size: contain;
}

.fifth {
  -webkit-mask: url("/src/images/why-icon5.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("/src/images/why-icon5.svg") no-repeat center;
          mask: url("/src/images/why-icon5.svg") no-repeat center;
  mask-size: contain;
}

.sixth {
  -webkit-mask: url("/src/images/why-icon6.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("/src/images/why-icon6.svg") no-repeat center;
          mask: url("/src/images/why-icon6.svg") no-repeat center;
  mask-size: contain;
}

.seventh {
  -webkit-mask: url("/src/images/why-icon7.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("/src/images/why-icon7.svg") no-repeat center;
          mask: url("/src/images/why-icon7.svg") no-repeat center;
  mask-size: contain;
}

.why-icon::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(98deg, #FFE20E 6.1%, #FFE20E 103.66%);
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  /* щоб градієнт теж обрізався формою іконки */
  -webkit-mask: inherit;
  mask: inherit;
}
@media screen and (max-width: 480px) {
  .why-icon::after {
    opacity: 1;
  }
}

/* hover на блоці */
.why-item:hover .why-icon::after {
  opacity: 1;
}

.policy {
  margin-top: 150px;
}

.policy-title {
  color: var(--blak-white-blak, #000);
  text-align: center;
  /* H2 */
  font-family: Outfit;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 68.2px */
  text-transform: uppercase;
}

.policy-text {
  color: var(--blak-white-blak, #000);
  /* body medium */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  max-width: 868px;
  width: 100%;
  margin-top: 24px;
}

.policy-inner {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  max-width: 868px;
  width: 100%;
}

.policy-item-title {
  color: var(--blak-white-blak, #000);
  /* H4 */
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 30.8px */
  text-transform: uppercase;
  margin-bottom: 24px;
}

.policy-item-text {
  color: var(--neutral-700, #444);
  /* body regular */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
}

.contact {
  position: relative;
}
@media screen and (max-width: 480px) {
  .contact {
    margin-top: 0px;
  }
}

.contact-platform {
  margin-top: 150px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 810px;
}

.contact-glass {
  background: rgba(0, 0, 0, 0.44);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
  padding: 60px 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .contact-glass {
    padding: 60px 18px;
  }
}

.contact-title {
  color: var(--blak-white-white, #FFF);
  font-family: Outfit;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
  max-width: 580px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .contact-title {
    font-size: 40px;
  }
}

.contact-text {
  color: var(--blak-white-white, #FFF);
  text-align: center;
  /* body medium */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  max-width: 580px;
  width: 100%;
  margin: 28px 0 88px 0;
}

.contact-button {
  color: var(--blak-white-blak, #000);
  /* buttons */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  border-radius: 12px;
  background: var(--blak-white-white, #FFF);
  padding: 16px 60px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  border: none;
}
@media screen and (max-width: 480px) {
  .contact-button {
    width: 100%;
  }
}

.contact-button:hover {
  background: #FFE20E;
}

.footer {
  padding: 50px 0 30px 0;
  background: #000;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer-list {
    flex-direction: column;
  }
}

.footer-item {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .footer-item {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.footer-addres {
  color: var(--blak-white-white, #FFF);
  /* caption2 */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  max-width: 285px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .footer-addres {
    text-align: center;
  }
}

.copyright {
  color: var(--blak-white-white, #FFF);
  /* fontone */
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  opacity: 0.6;
  margin-top: 27px;
}
@media screen and (max-width: 480px) {
  .copyright {
    display: none;
  }
}

.copyright-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .copyright-mobile {
    display: block;
    color: var(--blak-white-white, #FFF);
    /* fontone */
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    opacity: 0.6;
    margin-top: 27px;
  }
}

.footer-menu {
  display: flex;
  gap: 24px;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  .footer-menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
    padding: 24px 0;
  }
}

.footer-link {
  color: var(--blak-white-white, #FFF);
  /* caption1 */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
  transition: all 400ms ease-in-out;
}

.footer-link:hover {
  color: #FFE20E;
}

.footer-link-active {
  color: #FFE20E;
}

.footer-text {
  color: var(--blak-white-white, #FFF);
  /* caption2 */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  opacity: 0.8;
  margin: 67px 0 8px 0;
}

.footer-email {
  color: var(--primary-yellow, #FFE20E);
  /* H3 */
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 35.2px */
  letter-spacing: -0.224px;
  text-transform: uppercase;
  margin-bottom: 34px;
}
@media screen and (max-width: 480px) {
  .footer-email {
    border-bottom: 1px solid #2e2e2e;
    padding-bottom: 24px;
    width: 100%;
    text-align: center;
  }
}

.privacy {
  color: var(--blak-white-white, #FFF);
  /* fontone */
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
@media screen and (max-width: 480px) {
  .privacy {
    opacity: 0.6;
  }
}/*# sourceMappingURL=main.css.map */